{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
    <li>
        <a
            href="{% url 'killtracker:admin_killtracker_toogle_npc' object_id %}"
            class="btn btn-high"
            title="Click to toogle">
            {% if request.session.killtracker_toogle_npc %}
                {% translate "NPC types: enabled" %}
            {% else %}
                {% translate "NPC types: disabled" %}
            {% endif %}
        </a>
    </li>

{% endblock %}
