{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n %}

{% block object-tools-items %}
{{ block.super }}
    <li>
        {% if not is_using_npc %}
            <a
                href="{% url 'killtracker:admin_killtracker_toogle_npc' object_id %}"
                class="btn"
                title="Click to toogle">
                {% if npc_toogle %}
                    {% translate "NPC types: enabled" %}
                {% else %}
                    {% translate "NPC types: disabled" %}
                {% endif %}
            </a>
        {% else %}
            <p class="btn">NPC types in use</p>
        {% endif %}
    </li>

{% endblock %}
